.workoutsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .item {
        width: 24%;
        margin-bottom: 2rem;
        list-style: none;
        h3 {
            color: #ffffff;
            font-size: 22px;
            margin-bottom: 5px;
        }
    }
}