.App {
    display: grid;    
    position: relative;
}
.app-wrapper-content {
    width: 100%;
    background: #333;
    color: #fff;
    height: 100vh;
    .container {
        max-width: 1170px;
        margin: 0 auto;
    }
}
.left-sidebar {
    position: absolute;
    left: 0;
    top: 0;
}
.timer {
    position: absolute;
    color: #ffffff;
    bottom: 0;
    right: 0;
    font-size: 30px;
}
.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
    background-color: transparent;
}
.ant-menu.ant-menu-dark .ant-menu-item .activeMenuLink, 
.ant-btn-primary,
.ant-btn-primary:focus,
.ant-btn-primary:hover{
    background-color: #ff9400;
}
.ant-btn-primary,
.ant-btn-primary:focus,
.ant-btn-primary:hover{
    border-color: #ff9400;
}
.ant-menu.ant-menu-dark .ant-menu-item {
    padding: 0 !important;
}
.ant-menu.ant-menu-dark .ant-menu-item .activeMenuLink,
.ant-menu.ant-menu-dark .ant-menu-item a {
    width: 100%;
    height: 100%;
    padding-left: 24px;    
}
.ant-menu.ant-menu-dark .ant-menu-item .activeMenuLink {
    color: #ffffff;
}
.ant-menu.ant-menu-dark .ant-menu-item {
    padding: 0 !important;
}
.ant-menu.ant-menu-dark.ant-menu-inline-collapsed .ant-menu-item .activeMenuLink,
.ant-menu.ant-menu-dark.ant-menu-inline-collapsed .ant-menu-item a {
    width: 100%;
    height: 100%;
    padding-left: 32px;
    padding-right: 32px;
}