.addFormContainer {
    padding: 25px;
    .textField {
        width: 30% !important;
    }
    .selectField {
        width: 30%;
    }
    .errorMessage {
        color: red
    }
    .addFormTitle,
    .addFormSubtitle {
        color: #ffffff;
    }
    select {
        color: #333;
    }
    .exercisesWrap {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 100%;
        .exercise {
            width: 15% !important;
            margin-right: 15px;
            margin-bottom: 20px;
        }
    }
    .deleteBtn {
        cursor: pointer;
    }
}



